include README.md
include LICENSE
include doc.md
include requirements.txt
include tests/README.md
include tests/Makefile
include tests/basic_test.c
include tests/*_test.py
include examples/README.md
include examples/simple/Makefile
include examples/simple/hello_simple.c
include examples/simple/ignore.txt
